    /*----------------------------
    Product Details Styles  
----------------------------*/
    
    .single-product-content {
        .inner {
            // Product Rating 
            .product-rating {
                display: flex;
                margin-bottom: 20px;
                .star-rating {
                    img {}
                }
                .review-link {
                    a {
                        font-size: 16px;
                        line-height: 24px;
                        color: #656973;
                    }
                }
            }
            .product-title {
                margin-bottom: 30px;
            }
            .price-amount {
                font-weight: 500;
                font-size: 24px;
                display: block;
                padding-bottom: 20px;
                border-bottom: 1px solid #CBD3D9;
                margin-bottom: 20px;
            }
            .product-meta {
                @extend %liststyle;
                margin-bottom: 20px;
                li {
                    color: var(--color-primary);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    i {
                        padding-right: 15px;
                        font-size: 22px;
                    }
                }
            }
            .description {
                margin-bottom: 30px;
            }
            .product-variation {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                .title {
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 0;
                    min-width: 114px;
                }
                .variable-items-wrapper {
                    display: flex;
                    align-items: center;
                    @extend %liststyle;
                    &.color-variable-wrapper {
                        li {
                            &.color-variable-item {
                                .variable-item-span {
                                    padding: 5px;
                                    border: 1px solid transparent;
                                    display: block;
                                    border-radius: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .product-action {
        list-style: none;
        padding: 0;
        li {
            margin: 0 10px;
        }
    }
    
    .pro-qty {
        width: 130px;
        border-radius: 50px;
        input {
            width: 28px;
            float: left;
            border: none;
            height: 32px;
            line-height: 32px;
            padding: 0;
            text-align: center;
            background-color: transparent;
            font-size: 20px;
            font-weight: 500;
            margin: 0 12px;
            color: #27272e;
        }
        .qtybtn {
            width: 32px;
            display: block;
            float: left;
            line-height: 31px;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: #000;
            height: 32px;
            background: #F6F7FB;
            border-radius: 50%;
            transition: 0.3s;
            border: 1px solid transparent;
            &:hover {
                border-color: var(--color-primary);
            }
        }
    }
    
    .product-quick-view {
        background: #fff;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }
    
    .position-view {
        position: absolute;
        bottom: 47px;
        right: 47px;
        z-index: 5;
    }
    
    .small-thumb-img-wrapper {
        .small-thumb-img {
            position: relative;
            overflow: hidden;
            width: 80px;
            height: 80px;
            border-radius: 10px;
            margin-bottom: 20px;
            border: 2px solid transparent;
            cursor: pointer;
            transition: all 0.4s;
            img {
                transition: all 0.2s;
            }
            &:hover,
            &.active {
                border-color: var(--color-primary);
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    
    // product tabs
    .woocommerce-tabs {
        &.wc-tabs-wrapper {
            padding: 80px 0 35px;
        }
        ul.tabs {
            margin: 0 -20px 60px;
            li {
                margin: 0 20px;
                a {
                    font-size: 32px;
                    line-height: 35px;
                    font-weight: 500;
                    display: block;
                    color: var(--color-body);
                    &.active {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    
    .single-desc {
        .title {
            margin-bottom: 20px;
        }
    }
    
    .pro-des-features {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-right: -30px;
        li {
            padding: 15px 30px;
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            color: var(--color-dark);
        }
        .icon {
            width: 60px;
            height: 60px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 20px 0;
        }
    }
    
    .product-additional-info {
        background: #fff;
        padding: 50px;
        border-radius: 20px;
        margin-bottom: 40px;
        table {
            tbody {
                tr {
                    &:nth-child(odd) {
                        background: var(--color-lighter);
                    }
                    th,
                    td {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        padding: 17px 30px 18px;
                    }
                    th {
                        text-transform: capitalize;
                        color: #292930;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
    .pro-desc-commnet-area {
        padding-right: 110px;
        .comment-list {
            .comment {
                .commenter {
                    line-height: 33px;
                    font-size: 24px;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .hover-flip-item-wrapper,
                    .commenter-rating {
                        margin-bottom: 15px;
                        a {
                            font-size: 18px;
                            i {
                                color: var(--color-body);
                                &:not(.empty-rating) {
                                    color: var(--color-secondary);
                                }
                            }
                        }
                        &.ratiing-four-star {
                            .fa-star {}
                        }
                    }
                }
            }
        }
    }
    
    .pro-des-commend-respond {
        .form-group {
            textarea,
            input {
                background-color: transparent;
            }
            label {
                background-color: #FFECEE;
            }
        }
    }