.single-post {
    padding: 0 160px;
    @media #{$laptop-device} {
        padding: 0 40px;
    }
    @media #{$smlg-device} {
        padding: 0 40px;
    }
    .post-content {
        padding: 0 75px;
        @media #{$smlg-device} {
            padding: 0;
        }
    }
    .post-thumbnail {
        padding-top: 20px;
    }
    h1 {
        font-size: 64px;
        line-height: 64px;
        @media #{$laptop-device} {
            font-size: 40px;
            line-height: 46px;
        }
        @media #{$smlg-device} {
            font-size: 40px;
            line-height: 46px;
        }
    }
    &.post-formate {
        .content-block {
            .post-thumbnail img {
                border-radius: 40px;
            }
        }
    }
}

.axil-single-widget:first-child,
.widget-sidebar:first-child {
    margin-top: 0 !important;
}

.newsletter-inner {
    &::before {
        content: "";
        position: absolute;
        left: 30px;
        background: url(../images/send-mail.png) no-repeat;
        z-index: 5;
        top: 17px;
        width: 25px;
        height: 25px;
    }
}

.wp-block-columns {
    display: flex;
    margin-bottom: 28px;
    margin: 0 -15px;
    @media #{$sm-layout} {
        flex-wrap: wrap;
    }
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    padding-right: 15px;
    padding-left: 15px;
}

.post-details figure,
.entry-content figure {
    margin-bottom: 40px;
}