/*-------------------------
    Breadcrumb Styles  
--------------------------*/
.axil-breadcrumb {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    position: relative;
    top: -55px;
    li {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--font-size-b2);
        line-height: var(--line-height-b2);
        font-weight: 500;
        a {
            color: var(--color-body);
        }
        &.axil-breadcrumb-item {
            &.active {
                color: var(--color-heading);
            }
        }
        &.separator {
            padding: 0 10px;
            i {
                display: inline-block;
                font-size: 20px;
            }
        }
    }
}










